/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 96px;

    // Positioning context for the mobile navigation icon
    text-align: center;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 96px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: #f9f9f9;
    min-height: 86px;

    // border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit 0;
    .wrapper {
        line-height: 86px;
        text-align: center;
        font-size: 12px;
        @-webkit-keyframes blinker {
          from {opacity: 1.0;}
          to {opacity: 0.0;}
        }
        .blink{
          text-decoration: blink;
          -webkit-animation-name: blinker;
          -webkit-animation-duration: 0.6s;
          -webkit-animation-iteration-count:infinite;
          -webkit-animation-timing-function:ease-in-out;
          -webkit-animation-direction: alternate;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    .pagination {
        margin: 100px 0 40px;
        text-align: center;
        a {
            white-space: nowrap;
            margin-right: 30px;
            padding: 0 10px;
            border-bottom: 1px solid #489CCB;
            font-size: 0.8em;
        }
    }
}

.page-heading {
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 20px;
    &:first-child {
        margin-top: 0px;
    }
}

.page-hello {
    min-height: 85px;
}

.page-instagram {
    #instafeed,.instafeed {
        a {
            margin-right: 6px;
            img {
                background-color: #f0f0f0;
                width: 50px;
                height: 50px;
                border-radius: 16px;
            }
        }
    }
    overflow: auto;
    zoom: 1;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
    font-size: 11px;
}

.post-link {
    display: block;
    font-size: 16px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    .post-meta {
        color: #000;
        font-size: $small-font-size;
        text-align: center;
    }
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 26px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
